p, h1, h2, h3, li {
    font-family: 'Quicksand', sans-serif;
    color: aliceblue;
}

a {
    font-family: 'Quicksand', sans-serif;
    color: deepskyblue;
}

body {
    background: #2f3f4f;
}

.container {
    background: #2f4f3f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px;
}

.content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.centered {
    text-align: center;
}

.jumbotron-fluid {
    color: #ffffff;
    background: url(/static/images/jumbo-background.jpg) center no-repeat;
    height: 14em;
}

.jumbotron-fluid h1 {
    text-align: center;
}

.jumbotron-fluid p {
    text-align: center;
}

.nav a {
    color: white;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.nav-right {
    float: right;
}

.nav-left {
    float: left;
}