p, h1, h2, h3, li {
    font-family: 'Quicksand', sans-serif;
    color: aliceblue;
}

a {
    font-family: 'Quicksand', sans-serif;
    color: deepskyblue;
}

body {
    background: darkslategray;
}

.centered {
    text-align: center;
}

.jumbotron-fluid {
    color: #ffffff;
    background: url(/static/images/jumbo-background.png) center no-repeat;
    height: 14em;
}

.jumbotron-fluid h1 {
    text-align: center;
}

.jumbotron-fluid p {
    text-align: center;
}

.nav a {
    color: white;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.nav-right {
    float: right;
}