<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../static/css/main.css" rel="stylesheet">
    <meta name=”description” content="Jonathan Pulfer, Go/Rust programmer. Ipswich, UK">
    <title>Jonathan Pulfer</title>
</head>
<body>
<div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Welcome!</h1>
            <p>
                This is where I share stuff from some of my various interests and hobbies.
            </p>
        </div>
        <ul class="nav nav-right">
            <li class="nav-item">
                <button class="btn"><a href="https://keybase.io/jonp">Keybase</a></button>
            </li>
            <li class="nav-item">
                <button class="btn"><a href="https://github.com/jonpulfer">Github</a></button>
            </li>
            <li class="nav-item">
                <button class="btn"><a href="https://www.linkedin.com/in/jon-pulfer-3b407b2/">LinkedIn</a></button>
            </li>
            <li class="nav-item">
                <button class="btn"><a href="https://twitter.com/jonathanpulfer">@JonathanPulfer</a></button>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <ul class="list-unstyled">
                    <li class="nav-item">
                        <button class="btn"><a href="/">Home</a></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn"><a href="/afrita">Afrita / Sailing</a></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn"><a href="/tech">Tech / Science</a></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn"><a href="/sports">Sports</a></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn"><a href="/crafts">Arts and Crafts</a></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn"><a href="/travel">Real Time Travel Info</a></button>
                    </li>
                </ul>
            </div>
            <div class="col-8">
                <!-- This is where the page content starts -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col centered">
                            <img src="../static/images/afrita.png" alt="Afrita sailing in the river Orwell">
                            <p><a href="http://co32.org">Contessa 32</a></p>
                            <ul class="list-unstyled">
                                <li>Length (LOA): 32 ft / 9.75m</li>
                                <li>Width (Beam): 10ft / 3m</li>
                                <li>Keel (Draft): 5ft 6in / 1.75m</li>
                                <li>Year (Launched): 1978</li>
                            </ul>
                        </div>
                        <div class="col">
                            <p class="centered">Afrita was completed in 1978 by the Jeremy Rogers boat yard in
                                Lymington. Originally she was called Sunrise and then, at some point before 1984, her
                                name was changed. I purchased Afrita from a lovely family in Scotland in 2016 and have
                                been enjoying sailing her ever since.</p>

                            <p class="centered">Currently Afrita is berthed at Ipswich Haven marina in the historic dock
                                in town. This is only a few minutes walk from home, or to one of the local
                                cafes/restaurants or shops.</p>

                            <p class="centered">I'm still building up my offshore experience with the goal to eventually
                                cross oceans. My long term dream is to explore the pacific islands. Particularly
                                Galapagos, Hawaii, French Polynesia and Fiji before arriving in New Zealand. Like all
                                sailing plans, it's very loosely defined and I would be just as happy spending time
                                sailing around the UK!</p>
                        </div>
                    </div>
                    <div class="row">
                        <p>This is Afrita's last reported position</p>
                        <script type="text/javascript">
                            // Map appearance
                            var width = "100%";         // width in pixels or percentage
                            var height = "300";         // height in pixels
                            var names = true;           // always show ship names (defaults to false)

                            // Single ship tracking
                            var mmsi = "235118438";        // display latest position (by IMO, overrides MMSI)
                            var show_track = true;      // display track line (last 24 hours)
                        </script>
                        <script type="text/javascript" src="https://www.vesselfinder.com/aismap.js"></script>
                    </div>
                </div>
                <!-- end of the page content -->
            </div>
        </div>
    </div>
</div>
</body>
</html>