<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../static/css/main.css" rel="stylesheet">
    <meta name=”description” content="Jonathan Pulfer, Go/Rust programmer. Ipswich, UK">
    <title>Jonathan Pulfer</title>
</head>
<body>
<div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Welcome!</h1>
            <p>
                This is where I share stuff from some of my various interests and hobbies.
            </p>
        </div>
        <ul class="nav nav-right">
            <li class="nav-item">
                <button class="btn"><a href="https://keybase.io/jonp">Keybase</a></button>
            </li>
            <li class="nav-item">
                <button class="btn"><a href="https://github.com/jonpulfer">Github</a></button>
            </li>
            <li class="nav-item">
                <button class="btn"><a href="https://www.linkedin.com/in/jon-pulfer-3b407b2/">LinkedIn</a></button>
            </li>
            <li class="nav-item">
                <button class="btn"><a href="https://twitter.com/jonathanpulfer">@JonathanPulfer</a></button>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <ul class="list-unstyled">
                    <li class="nav-item">
                        <button class="btn"><a href="/">Home</a></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn"><a href="/afrita">Afrita / Sailing</a></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn"><a href="/tech">Tech / Science</a></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn"><a href="/sports">Sports</a></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn"><a href="/crafts">Arts and Crafts</a></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn"><a href="/travel">Real Time Travel Info</a></button>
                    </li>
                </ul>
            </div>
            <div class="col-8">
                <p class="centered">
                    I'm a distributed systems programmer (predominantly Rust and Go) living in Ipswich and currently commuting into London.
                    Although this does mean I travel more than some, it enables me to work with some really interesting
                    people using technology that challenges me. I enjoy helping people and fixing things, which provides
                    me with plenty to learn and helps keep me energised.
                </p>
                <p class="centered">
                    I'm always happy to hear about new opportunities and welcome connections via one of the social
                    accounts in the links above.
                </p>
                <p class="centered">
                    When I'm not working, the main draw on my time is <a href="/afrita">Afrita</a>.
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>