<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../static/css/main.css" rel="stylesheet">
    <meta name=”description” content="Jonathan Pulfer, Go/Rust programmer. Ipswich, UK">
    <title>Jonathan Pulfer</title>
</head>
<body>
<div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Welcome!</h1>
            <p>
                This is where I share stuff from some of my various interests and hobbies.
            </p>
        </div>
        <ul class="nav nav-right">
            <li class="nav-item">
                <button class="btn"><a href="https://keybase.io/jonp">Keybase</a></button>
            </li>
            <li class="nav-item">
                <button class="btn"><a href="https://github.com/jonpulfer">Github</a></button>
            </li>
            <li class="nav-item">
                <button class="btn"><a href="https://www.linkedin.com/in/jon-pulfer-3b407b2/">LinkedIn</a></button>
            </li>
            <li class="nav-item">
                <button class="btn"><a href="https://twitter.com/jonathanpulfer">@JonathanPulfer</a></button>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <ul class="list-unstyled">
                    <li class="nav-item">
                        <button class="btn"><a href="/">Home</a></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn"><a href="/afrita">Afrita / Sailing</a></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn"><a href="/tech">Tech / Science</a></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn"><a href="/sports">Sports</a></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn"><a href="/crafts">Arts and Crafts</a></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn"><a href="/travel">Real Time Travel Info</a></button>
                    </li>
                </ul>
            </div>
            <div class="col-8">
                <!-- This is where the page content starts -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col centered">
                            <p>
                                I originally qualified as a wooden boat builder and had no plans to follow a career in
                                technology. This all changed when I found that the luxury goods market was collapsing
                                and boats definitely fell into this market at the time.
                            </p>
                            <p>
                                I had been messing around with various computer based things from an early age and so
                                decided to try and make a living from it. I started a course in computer science but
                                only managed to complete the first year before life pressed me to get earning. I
                                registered with an agency and started a temporary position at Jeyes in Thetford, UK.
                            </p>
                            <p>
                                I was really lucky to get that position as my first one and the team there were really
                                supportive. I got involved in all I could, learning as much as I could. It was a great
                                time for me and I ended up moving from a temporary contract to a permanent one.
                            </p>
                            <p>
                                Anyway, enough of my origin story, here are some of the things I'm messing around with
                                at the moment...
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col centered">
                            <h1>Rust</h1>
                        </div>
                        <div class="col centered">
                            <p>
                                In the last few years I have been developing more systems using the Rust language. For
                                a lot of the systems I work on, it's a great fit and I really enjoy writing code using it.
                            </p>
                            <p>
                                More recently I have been looking at both WASM and embedded systems and Rust is proving
                                to be a really nice fit here too.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col centered">
                            <p>
                                I started writing Go programs fairly early on in it's existence and really enjoyed the
                                simple yet productive nature of the language. I still appreciate this and I find it
                                compliments Rust really well since where one starts being awkward the other picks up.
                            </p>
                            <p>
                                I mainly use Go when I'm interacting with multiple API services or the system doesn't
                                involve very loosely defined data objects.
                            </p>
                        </div>
                        <div class="col centered">
                            <h1>Go</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col centered">
                            <h1>Robotics</h1>
                        </div>
                        <div class="col centered">
                            <p>
                                I'm currently researching building a battle robot as a team effort involving a few
                                friends. I am hoping that I can connect with a local high school to get a group together
                                to design, build and compete the robot.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end of the page content -->
            </div>
        </div>
    </div>
</div>
</body>
</html>